<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omegaspocktari.movieprojectone">

    <!-- Allow for permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Necessary for Database reading/Writing -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Allow for permission to access the network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MovieActivity -->
        <activity
            android:name="MovieActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MovieDetailActivity -->
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName=".MovieActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.omegaspocktari.movieprojectone.MovieActivity" />
        </activity>

        <!-- SettingsActivity -->
        <activity
            android:name=".SettingsActivity"
            android:icon="@android:color/transparent"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MovieActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.omegaspocktari.movieprojectone.MovieActivity" />
        </activity>

        <!-- MovieContentProvider -->
        <provider
            android:name="com.omegaspocktari.movieprojectone.data.MovieContentProvider"
            android:authorities="com.omegaspocktari.movieprojectone"
            android:exported="false" />

        <service
            android:name=".sync.MovieSyncIntentService"
            android:exported="false" />

        <service
            android:name=".sync.MovieFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
    </application>

</manifest>